@import '../../styles/variables';

.formLabel {
  font-size: 0.9rem;
  font-weight: bold;
}

.form {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.addButton {
  font-size: 2rem;
  font-weight: bold;
  color: $main-dark;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: lighten($main-dark, 20%);
  }

  // &:disabled {
  //   background-color: $disabled;
  //   cursor: initial;
  // }
}

.locationInput {
  flex: 1;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: $border-radius;
  border: 1px solid $main-dark;
}
