.wind {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.pressure {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.boldText {
  font-weight: bold;
}
