@import '../../styles/variables';

.item {
  display: flex;
  align-items: center;
  background-color: $additional;
  border-radius: $border-radius;
  font-size: 1rem;
  padding: 0.5em;
  text-transform: capitalize;
}

.dragIcon {
  font-size: 24px;
  margin-right: 10px;
}

.deleteIcon {
  display: flex;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: lighten($main-dark, 20%);
  }
}
