@import '../../styles/variables';

.item {
  display: flex;
  align-items: center;
  background-color: $main-dark;
  border-radius: $border-radius;
  font-size: 1rem;
  padding: 0.5em;
  text-transform: capitalize;
}

.dragIcon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}
