@import 'styles/variables';

.container {
  min-width: 300px;
  height: 350px;
  padding: 1.5em;
  border: 1px solid $main-dark;
  border-radius: $border-radius;
  font-size: 1rem;
  box-sizing: border-box;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: $error;
}
